/* 
selector can be an HTML element, it can be a custom style (start with .), or it can be an id (start with #)

selector{
    property1: value;
    property2: value;
}
*/

/* body applies to the whole image */
body{
    background-color:ghostwhite;
    color:midnightblue;
    width: 90%;
}

header{
    text-align: center;
}

/* by default - create a box for the menu */
nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

/* add some footer styles */
footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    position: absolute; /* this will allow us to move the image around */
    left: 100px; /* optional */
    top: 100px; /* optional */
    margin-right: 200px;
    width: 300px;
    border-style: solid;
    border-radius: 5%;
}

p{
    width: 100%;
    text-align: center;
}

/* custom css style */
.leftalign{
    text-align: left;
}